* {
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
}

header {
  background-image: url("../images/Front.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 425px;
  color: white;
  top: 55px;
  margin-bottom: 50px;
}

img, h1, h2 {
	z-index: 0;
}

header img {
	position: relative;
	top: 150px;
}

header h1 {
	position: relative;
	font-size: 67px;
	top: 160px;
	font-weight: 200;
}

header h2 {
	position: relative;
	top: 175px;
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 0.02rem;
}

nav {
	position: fixed;
	background-color: white;
	border-top: 10px solid #F5F5F5;
	border-bottom: 10px solid white;
	z-index: 1;
	width: 100%;
}

nav ul {
	list-style-type: none;
	line-height: 1.75rem;
}

nav a {
	text-decoration: none;
	color: #444;
}

nav ul {
	display: block;
	text-align: center;
	font-size: 0;
	padding-top: 7px;
	letter-spacing: 0.02rem
}

nav li {
	box-sizing: border-box;
	display: inline-block;
	margin: 0 25px;
	text-transform: uppercase;
	font-size: 0.75rem;
	padding: 5px;
}

nav li:hover {
	text-decoration: underline;
}

main {
	top: 55px;
}

article#tickets {
	text-align: center;
	border-bottom: 1px solid #efefef;
	height: 230px;
}

article#tickets > h1, article#tickets > h2 {
	font-weight: 100;
	font-size: 48px;
	color: #444444;
}

article#tickets > h1 {
	margin-bottom: 25px;
	padding-top: 15px;
}

article#tickets h2 {
	font-size: 16px;
	font-weight: 50;
	margin-bottom: 25px;
}

article#tickets a {
	box-sizing: border-box;
	background-color: green;
	text-decoration: none;
	color: white;
	padding: 10px 25px;
	font-size: 1.1rem;
	font-weight: 550;
}

article#speakers {
	font-size: 2rem;
	text-align: center;
}

article#speakers h1 {
	padding: 2rem;
	font-weight: 100;
	color: #444;
}

article#speakers ul {
  display: block;
}

article#speakers li {
	display: inline-block;
	width: 50%;
}

article#speakers img {
	width: 75%;
}

article#speakers dt {
  color: green;
  font-size: 1.2rem;
  font-weight: bold;
}

article#speakers dd {
	font-size: 1.1rem;
	color: #444;
}
